* {
    box-sizing: border-box;
    font-size: 1rem;
}

a {
    color: rgba(152,152,252,1);
}

body {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,1);
    font-family: Verdana;
    justify-content: center;
    justify-items: center;
    margin: 0;
    width: 100vw;
}

.Box {
    background: rgba(110,110,110,1);
    border: 0.2rem solid rgba(152,152,152,1);
    z-index: 1;
}

.BoxGYRB {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 1.8rem;
    justify-content: left;
    justify-items: left;
}

.BoxTO {
    display: grid;
    grid-template-columns: auto auto;
    height: 1.8rem;
    justify-content: left;
    justify-items: left;
}

.BoxTraffic {
    display: grid;
    grid-template-columns: 3.75rem 3.75rem 3.75rem 3.75rem;
    grid-template-rows: 1.8rem;
    justify-content: left;
    width: 15rem;
}

.BoxSoldier {
    align-content: center;
    display: grid;
    grid-template-rows: 1.8rem;
    justify-content: left;
    width: 15rem;
}

.BoxG {
    background: rgba(45, 201, 55,1);
    color: rgba(0,0,0,0);
}

.BoxGray {
    background: rgba(125, 125, 125,1);
    color: rgba(0,0,0,0);
}

.BoxY {
    background: rgba(231, 180, 22,1);
    color: rgba(0,0,0,0);
}

.BoxR {
    background: rgba(204, 50, 50, 1);
    color: rgba(0,0,0,0);
}

.BoxB {
    background: black;
    color: rgba(0,0,0,0);
}

.BoxT {
    background: rgba(0,0,0,0)
}

.BoxO {
    background: rgba(125,125,125,0.75)
}

.Display {
    background: rgba(230,230,230,1);
    border: 0.2rem solid rgba(159,168,176,1);
    color: rgba(110,110,110,0.9);
    height: 1.8rem;
    text-align: center;
    width: 11rem;
    z-index: 4;
}

.Display2 {
    background: rgba(230,230,230,0);
    border: 0.2rem solid rgba(159,168,176,0);
    color: rgba(159,168,176,1);
    font-size: 1rem;
    height: 1.8rem;
    text-align: center;
    width: 11rem;
    z-index: 4;
}

.Div2C1R {
    grid-area: auto / auto / span 2 / span 1;
}

.Div2C2R {
    grid-area: auto / auto / span 2 / span 2;
}

.Div3C {
    align-items: center;
    display: grid;
    grid-area: auto / auto / span 1 / span 3;
}

.Div2C {
    grid-area: auto / auto / span 1 / span 2;
}

.DivDown {
    align-content: center;
    background: rgba(230,230,230,1);
    border: 0.2rem solid rgba(159,168,176,1);
    color: rgba(110,110,110,0.9);
    cursor: pointer;
    display: grid;
    height: 2.2rem;
    justify-content: center;
    width: 2.2rem;
}

.DivDown:hover {
    background: rgba(255,255,255,1);
    border: 0.2rem solid rgba(159,168,176,1);
    color: rgba(0,0,0,1);
}

.DivDown:focus {
    background: rgba(255,255,255,1);
    border: 0.2rem solid rgba(159,168,176,1);
    color: rgba(0,0,0,1);
}

.DivIcon {
    align-items: center;
    background: rgba(152,152,252,0);
    border-radius: 0.0rem;
    color: rgba(0,0,0,1);
    display: grid;
    height: 2.2rem;
    justify-items: center;
    margin: 0;
    overflow: hidden;
    width: 2.2rem;
}

.DivIframe {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 0;
    outline: 0rem;
    height: 19rem;
    width: 30rem;
}

.DivItem {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 3rem 9rem 15.6rem 3rem;
    justify-content: space-evenly;
    justify-items: left;
    padding: 0rem 0rem 0rem 0rem;
}

.DivItemRow {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0rem;
    -moz-border-radius: 0rem;
    -webkit-border-radius: 0rem;
    color: rgba(159,168,176,1);
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-size: 0.9rem;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    grid-template-columns: 19rem 8rem;
    height: 3rem;
    outline: 0;
    padding: 0rem 0.5rem 0rem 0.5rem;
    justify-content: stretch;
    justify-items: stretch;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
}

    .DivItemRow:hover {
        color: rgba(255,255,255,1);
        background: #4C5A64; /* old browsers */
        background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
    }

.DivLabel {
    width: 5rem;
}

.DivLoad {
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    display: none;
}

.DivMenuSummary {
    display: grid;
    grid-area: auto / auto / span 1 / span 4;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 0.4rem;
    height: 1rem;
    justify-content: right;
    justify-items: left;
}

.DivMinMax {
    align-items: initial;
    align-content: initial;
    display: grid;
    grid-template-columns: 3rem 9.4rem 3.2rem;
    transition: max-height 0.3s ease-out;
}

.DivStack {
    display: grid;
    grid-template: 100% / 100%;
    justify-items: center;
    position: relative;
    width: 15.6rem;
}

    .DivStack > * {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .DivSummary {
        display: none;
    }


.DivThermometer {
    align-content: end;
    display: grid;
    height: 6rem;
    justify-content: center;
    justify-items: center;
    width: 1.5rem;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    background: rgba(32,40,45,1);
    border: 0.2rem solid rgba(159,168,176,1);
    border-collapse: collapse;
    display: none;
    margin-top: -0.2rem;
    min-width: 10rem;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    position: absolute;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

.dropdown:hover .Display {
    background: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
}

.G0 {
    background: rgba(0,0,0,1);
    display: grid;
    font-size: 1rem;
    grid-gap: 0.5rem 1rem;
    grid-template-columns: 23rem 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.G1 {
    align-content: start;
    background: rgba(0,0,0,1);
    display: grid;
    grid-gap: 0.5rem 0.5rem;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: stretch;
    padding: 0.3rem 0rem 0.3rem 0rem;
    width: 1fr;
}

.G1Menu {
    align-content: start;
    background: rgba(35,43,48,1);
    display: grid;
    grid-gap: 0.0rem 0.0rem;
    grid-template-columns: 1fr;
    height: 100vh;
    justify-content: left;
    justify-items: left;
    width: 1fr;
}

.G1Other {
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,1);
    display: none;
    grid-gap: 1rem 1rem;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    justify-items: center;
    padding: 0.5rem 0rem 0.5rem 0rem;
    width: 100%;
}

.G1Scenario {
    align-content: start;
    background: rgba(0,0,0,1);
    display: none;
    grid-gap: 1rem 1rem;
    grid-template-columns: 34rem 27rem;
    height: 100vh;
    width: 100%;
}

.G2ContainerReference {
    align-items: start;
    background: rgba(32,40,45,1);
    background: -moz-linear-gradient(top, rgba(32,40,45,1) 3%, rgba(37,46,52,1) 51%, rgba(34,42,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(32,40,45,1)), color-stop(51%,rgba(37,46,52,1)), color-stop(100%,rgba(34,42,48,1))); /* webkit */
    border: 0.2rem solid rgba(255,255,255,0);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(32,40,45,1)', endColorstr='#222A30',GradientType=0 ); /* ie */
    grid-gap: 0.6rem 1rem;
    grid-template-columns: 1fr;
    justify-items: start;
    overflow: auto;
    padding: 1rem;
}

.G2ContainerX {
    align-items: start;
    background: rgba(32,40,45,1);
    background: -moz-linear-gradient(top, rgba(32,40,45,1) 3%, rgba(37,46,52,1) 51%, rgba(34,42,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(32,40,45,1)), color-stop(51%,rgba(37,46,52,1)), color-stop(100%,rgba(34,42,48,1))); /* webkit */
    border: 0.0rem solid rgba(255,255,255,0);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(32,40,45,1)', endColorstr='#222A30',GradientType=0 ); /* ie */
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: start;
    padding: 1rem;
}

.G2Start {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    color: rgba(159,168,176,1);
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-weight: bold;
    grid-row-gap: 0.5rem;
    grid-template-columns: 1fr;
    outline: 0;
    padding: 1rem 1rem;
    justify-content: space-evenly;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
}

.G2Title {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    color: rgba(159,168,176,1);
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-weight: bold;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 2rem 1fr 2rem;
    height: 3rem;
    outline: 0;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-evenly;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 100%;
}

    .G2Title:hover {
        color: rgba(255,255,255,1);
        background: #4C5A64; /* old browsers */
        background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
    }

.G2Title2 {
    align-content: start;
    align-items: center;
    background: rgba(35,43,48,0); /* old browsers */
    box-shadow: 0rem rgba(0,0,0); /* CSS3 */
    border: 0.0rem solid rgba(159,168,176,0);
    border-radius: 0rem;
    color: rgba(159,168,176,1);
    display: grid;
    font-weight: bold;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 2rem 1fr 2rem;
    height: 3rem;
    outline: 0;
    padding: 0rem 1rem 0rem 1rem;
    justify-content: space-evenly;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 100%;
}

.G2TitleSettings2 {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    color: rgba(159,168,176,1);
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-weight: bold;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 2rem 1fr 1fr 2rem;
    height: 3rem;
    outline: 0;
    padding: 0rem 1rem 0rem 1rem;
    justify-content: space-evenly;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 100%;
}

    .G2TitleSettings2:hover {
        color: rgba(255,255,255,1);
        background: #4C5A64; /* old browsers */
        background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
    }

.G3Reference {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(61,72,80,1) 3%, rgba(49,61,69,1) 4%, rgba(35,43,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(61,72,80,1)), color-stop(4%,rgba(49,61,69,1)), color-stop(100%,rgba(35,43,48,1))); /* webkit */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    color: rgba(159,168,176,1);
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    justify-content: left;
    outline: 0;
    padding: 0.5rem 1rem 1rem 1rem;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    transition: max-height 1s ease-out;
}

    .G3Reference:hover {
        background: rgba(76, 90, 100,1); /* old browsers */
        background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
    }

.G4Reset {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    color: rgba(159,168,176,1);
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-weight: bold;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    grid-template-columns: 2rem 11rem 5rem 3rem;
    outline: 0;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-evenly;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 100%;
}

    .G4Reset:hover {
        background: #4C5A64; /* old browsers */
        background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
    }


.G3Reset {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    color: rgba(159,168,176,1);
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-weight: bold;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    grid-template-columns: 2rem 13rem 5rem;
    outline: 0;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-evenly;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 100%;
}

    .G3Reset:hover {
        background: #4C5A64; /* old browsers */
        background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
    }

.G3Result {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(61,72,80,1) 3%, rgba(49,61,69,1) 4%, rgba(35,43,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(61,72,80,1)), color-stop(4%,rgba(49,61,69,1)), color-stop(100%,rgba(35,43,48,1))); /* webkit */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    color: rgba(159,168,176,1);
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    grid-template-columns: auto auto auto auto;
    justify-content: left;
    outline: 0;
    padding: 0.5rem 1rem 1rem 1rem;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    transition: max-height 1s ease-out;
}

.G3Result:hover {
    background: rgba(76, 90, 100,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
}

.G3Settings {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    color: rgba(159,168,176,1);
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-weight: bold;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    grid-template-columns: 2rem 9rem 1fr;
    height: 3rem;
    outline: 0;
    padding: 0rem 1rem 0rem 1rem;
    justify-content: space-evenly;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 100%;
}

    .G3Settings:hover {
        color: rgba(255,255,255,1);
        background: #4C5A64; /* old browsers */
        background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
    }

.Grid2C {
    align-items: initial;
    display: grid;
    grid-template-columns: 1fr;
    height: 30rem;
}

.GridL {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    justify-content: left;
    justify-items: left;
    width: 95vw;
}

.GridTrue {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

html {
    background: rgba(0,0,0,1);
    font-family: Verdana;
    font-size: 90%;
}

.Hyperlink {
    color: rgba(152,152,252,1);
}

.Icon {
    height: 2rem;
    width: 2rem;
}

.IconG2 {
    border: 0.1rem solid rgba(0,0,0,0);
    height: 2rem;
    width: 2rem;
}

.IconG3 {
    height: 1.8rem;
    width: 1.8rem;
}

.IconG4 {
    height: 1rem;
    width: 1rem;
}

.IconG4Down {
    height: 1rem;
    width: 1rem;
}

iframe {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    position: absolute;
    padding: 0;
    outline: 0rem;
    height: 26.5rem;
    width: 41rem;
}

.ItemDisplay2 {
    background: rgba(230,230,230,0);
    border: 0.2rem solid rgba(159,168,176,0);
    color: rgba(159,168,176,1);
    font-size: 0.9rem;
    height: 1.8rem;
    text-align: center;
    width: 7rem;
}

.ItemList {
    align-items: start;
    float: left;
    overflow: hidden;
    background: rgba(32,40,45,1);
    background: -moz-linear-gradient(top, rgba(32,40,45,1) 3%, rgba(37,46,52,1) 51%, rgba(34,42,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(32,40,45,1)), color-stop(51%,rgba(37,46,52,1)), color-stop(100%,rgba(34,42,48,1))); /* webkit */
    border: 0.2rem solid rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(32,40,45,1)', endColorstr='#222A30',GradientType=0 ); /* ie */
    font-size: 0.8rem;
    grid-column-gap: 1rem;
    grid-template-columns: auto;
    justify-items: stretch;
    justify-content: stretch;
    margin-top: 4rem;
    margin-left: -1rem;
    padding: 0rem 0rem 0rem 0rem;
    position: absolute;
    z-index: 10;
    overflow-y: scroll;
}

    .ItemList:hover {
        display: grid
    }

.Label {
    background: rgba(255,255,255,0);
    border: 0.0rem solid rgba(0,0,0,0);
    color: rgba(159,168,176,1);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0rem;
}

.Label0 {
    background: rgba(255,255,255,0);
    border: 0.1rem solid rgba(0,0,0,0);
    color: black;
    font-size: 4rem;
    font-weight: bold;
}

.Label2 {
    background: rgba(255,255,255,0);
    color: rgba(159,168,176,1);
    font-size: 1.25rem;
    font-weight: bold;
}

.Label3 {
    background: rgba(255,255,255,0);
    color: rgba(159,168,176,1);
    font-size: 1rem;
    font-weight: bold;
}

.Label4 {
    background: rgba(255,255,255,0);
    color: rgba(159,168,176,1);
    font-size: 0.8rem;
    font-weight: bold;
}

.Label4Menu {
    background: rgba(255,255,255,0);
    color: rgba(159,168,176,1);
    font-size: 0.0rem;
    font-weight: bold;
}


.Label3Z {
    background: rgba(255,255,255,0);
    border: 0.1rem solid rgba(0,0,0,0);
    color: rgba(159,168,176,1);
    grid-area: auto / auto / span 1 / span 4;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0rem;
}

.LabelDrop {
    background: rgba(152,252,152,1);
    border-radius: 0.3rem;
    color: rgba(0,0,0,1);
    font-size: 1.5rem;
    font-weight: bold;
    height: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    text-align: center;
    width: 2rem;
}

    .LabelDrop:hover {
        background: rgba(0,255,0,1);
    }

    .LabelItem {
        font-size: 0.9rem;
    }

.LabelMin {
    color: rgba(155,155,155,1);
    font-size: 0.9rem;
    text-align: center;
    text-shadow: none;
}

.LabelMax {
    color: rgba(155,155,155,1);
    font-size: 0.9rem;
    text-align: center;
    text-shadow: none;
}

.SSPORT {
    align-items: center;
    align-content: center;
    background: rgba(152,152,252,1);
    color: black;
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 0rem 0.0rem 0rem 0.0rem;
    text-decoration: blink;
    width: 100%;
}

.Menu1 {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0rem;
    -moz-border-radius: 0em;
    -webkit-border-radius: 0rem;
    color: rgba(159,168,176,1);
    display: grid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-weight: bold;
    grid-column-gap: 1rem;
    grid-template-columns: 2rem 12rem 5rem;
    height: 3.5rem;
    outline: 0;
    padding: 0rem 1rem;
    justify-content: left;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 23rem;
}

    .Menu1:hover {
        background: rgba(76, 90, 100,1); /* old browsers */
        background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
    }

    .Menu1:focus {
        background: rgba(76, 90, 100,1); /* old browsers */
        background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
    }

    .Menu1.active {
        background: rgba(76, 90, 100,1); /* old browsers */
        background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
    }

.Menu2 {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0rem;
    -moz-border-radius: 0rem;
    -webkit-border-radius: 0rem;
    color: rgba(159,168,176,1);
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    font-weight: bold;
    grid-column-gap: 1rem;
    grid-template-columns: 0.5rem 2rem 6rem 10rem;
    outline: 0;
    padding: 0.5rem 1rem;
    justify-content: space-evenly;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 23rem;
}

    .Menu2:hover {
        color: rgba(255,255,255,1);
        background: #4C5A64; /* old browsers */
        background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
    }

.Menu2.active {
    background: rgba(76, 90, 100,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
}

.Output {
    background: rgba(0,0,0,0);
    border: 0;
    color: rgba(159,168,176,1);
    font-size: 1rem;
    outline: 0;
    text-align: right;
}

.PanelInput {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(61,72,80,1) 3%, rgba(49,61,69,1) 4%, rgba(35,43,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(61,72,80,1)), color-stop(4%,rgba(49,61,69,1)), color-stop(100%,rgba(35,43,48,1))); /* webkit */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: auto;
    justify-content: space-evenly;
    justify-items: left;
    padding: 1.5rem 1rem 1.5rem 1.25rem;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
}

    .PanelInput:hover {
        color: rgba(255,255,255,1);
        background: rgba(76, 90, 100,1); /* old browsers */
        background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
    }

.PanelInputContainer {
    align-items: start;
    background: rgba(32,40,45,1);
    background: -moz-linear-gradient(top, rgba(32,40,45,1) 3%, rgba(37,46,52,1) 51%, rgba(34,42,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(32,40,45,1)), color-stop(51%,rgba(37,46,52,1)), color-stop(100%,rgba(34,42,48,1))); /* webkit */
    border: 0.2rem solid rgba(255,255,255,0);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(32,40,45,1)', endColorstr='#222A30',GradientType=0 ); /* ie */
    grid-gap: 1rem 1rem;
    grid-column-gap: 1rem;
    grid-row-gap: 0.6rem;
    grid-template-columns: auto;
    justify-items: left;
    padding: 1rem 1rem 1rem 1rem;
}

.PanelInputForecast {
    align-content: center;
    align-items: center;
    background: background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(61,72,80,1) 3%, rgba(49,61,69,1) 4%, rgba(35,43,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(61,72,80,1)), color-stop(4%,rgba(49,61,69,1)), color-stop(100%,rgba(35,43,48,1))); /* webkit */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 100%;
    justify-content: stretch;
    justify-items: stretch;
    padding: 1rem 1rem 2rem 1rem;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
    width: 100%;
}

.PanelInputLw {
    align-content: center;
    align-items: center;
    background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(61,72,80,1) 3%, rgba(49,61,69,1) 4%, rgba(35,43,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(61,72,80,1)), color-stop(4%,rgba(49,61,69,1)), color-stop(100%,rgba(35,43,48,1))); /* webkit */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: auto;
    justify-content: space-evenly;
    justify-items: left;
    padding: 1.5rem 1rem 1.5rem 1.25rem;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
}

.PanelInputLw:hover {
    color: rgba(255,255,255,1);
    background: rgba(76, 90, 100,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
}

.PanelInputSex {
    align-content: center;
    align-items: center;
    background: background: rgba(35,43,48,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(61,72,80,1) 3%, rgba(49,61,69,1) 4%, rgba(35,43,48,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(61,72,80,1)), color-stop(4%,rgba(49,61,69,1)), color-stop(100%,rgba(35,43,48,1))); /* webkit */
    -moz-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Firefox */
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,1); /* Safari, Chrome */
    border: 0.0rem solid rgba(159,168,176,1);
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: left;
    padding: 0.5rem 1.25rem 1rem 1.25rem;
    text-shadow: 0.0625rem 0.0625rem rgba(31,39,43,1);
}

.PanelInputSex:hover {
    color: rgba(255,255,255,1);
    background: rgba(76, 90, 100,1); /* old browsers */
    background: -moz-linear-gradient(top, rgba(76, 90, 100,1) 3%, rgba(64, 79, 90,1) 4%, rgba(46, 57, 64,1) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(76, 90, 100,1)), color-stop(4%,rgba(64, 79, 90,1)), color-stop(100%,rgba(46, 57, 64,1) )); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(76, 90, 100,1)', endColorstr='rgba(64, 79, 90,1)',GradientType=0 ); /* ie */
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: rgba(0,0,0,0);
    border: 0rem;
    color: rgba(0,0,0,1);
    height: 100%;
    margin: 0rem;
    width: 15.6rem; /* Specific width is required for Firefox. */
    z-index: 2;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: rgba(0,0,0,0);
        border: 0.35rem solid rgba(255,255,255,1);
        cursor: pointer;
        height: 2.4rem;
        margin-top: -1.1rem;
        width: 0.9rem;
    }

    input[type=range]::-webkit-slider-runnable-track {
        background: rgba(110,110,110,0);
        cursor: pointer;
        height: 0.2rem;
        width: 15rem;
    }

    input[type=range]::-ms-track {
        background: transparent;
        border-color: transparent;
        color: transparent;
        cursor: pointer;
        width: 15rem;
    }

.LightG {
    background: rgba(45, 201, 55,1);
    border-left: 0.2rem solid rgba(152,152,152,1);
    border-right: 0.2rem solid rgba(152,152,152,0);
    width: 3.4rem;
    z-index: 1;
}

.LightR {
    background: rgba(204, 50, 50, 1);
    border-left: 0.2rem solid rgba(152,152,152,0);
    border-right: 0.2rem solid rgba(152,152,152,1);
    width: 3.4rem;
    z-index: 1;
}

.LightY {
    background: rgba(231, 180, 22,1);
    border: 0.2rem solid rgba(152,152,152,0);
    width: 3.4rem;
    z-index: 1;
}

.Number {
    background: rgba(230,230,230,0);
    border: 0.2rem solid rgba(159,168,176,0);
    color: rgba(0,0,0,0);
    height: 1.8rem;
    text-align: center;
    width: 11rem;
    z-index: 5;
}

.RangeLight {
    display: grid;
    grid-template-rows: 1.8rem;
    justify-content: left;
    grid-template-columns: 3.75rem 3.75rem 3.75rem 3.75rem;
    width: 15rem;
}

.RangeSoldier {
    border: 0.1rem solid rgba(159,168,176,0);
    display: grid;
    grid-template-rows: 1.8rem;
    justify-content: left;
    width: 15rem;
}

select {
    background: rgba(230,230,230,1);
    border: 0.2rem solid rgba(159,168,176,1);
    color: rgba(110,110,110,0.9);
    height: 1.9rem;
}

    select:hover {
        background: rgba(255,255,255,1);
        border: 0.2rem solid rgba(159,168,176,1);
        color: rgba(0,0,0,1);
    }

select:focus {
    background: rgba(255,255,255,1);
    border: 0.2rem solid rgba(159,168,176,1);
    color: rgba(0,0,0,1);
}

.Select {
    width: 11rem;
}

.SelectUnit {
    width: 14rem;
}

.SelectTemplate {
    font-size: 0.9rem;
    width: 9rem;
}

sup {
    color: rgba(152,152,252,1);
    cursor: pointer;
    display: none;
    font-size: 0.7rem;
}

.Whisker4 {
    height: 1fr;
}

.WhiskerL {
    background: rgba(255,255,255,0);
    border-left: 0.2rem solid rgba(152,152,152,0);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.WhiskerR {
    background: rgba(255,255,255,0);
    border-right: 0.2rem solid rgba(152,152,152,0);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}